<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.adurcup.registrationdemoapp">

    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".App.RegistrationDemoApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <receiver android:name=".BroadcastReceivers.SmsReceiver">
            <intent-filter android:priority="999">
                <action android:name="android.provider.Telephony.SMS_RECEIVED"/>
            </intent-filter>
        </receiver>

        <activity
            android:name=".Activities.SplashScreen"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activities.Login"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            />
        <activity android:name=".Activities.ForgotPassword"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            />
        <activity android:name=".Activities.Register"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            />
        <activity android:name=".Activities.Home"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            />
        <activity android:name=".Activities.OtpVerification"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            />
        <activity android:name=".Activities.MobileVerification"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            />

    </application>
</manifest>
